services:
  cs2:
    image: ghcr.io/swirlclinic/cs2:latest
    container_name: cs2-server
    restart: unless-stopped
    depends_on:
      mysql:
        condition: service_healthy
    env_file: .env
    ports:
      - "27015:27015/tcp"
      - "27015:27015/udp"
      - "27020:27020/udp"
    volumes:
      - ./data/cs2:/home/steam/cs2-dedicated
    deploy:
      resources:
        limits:
          memory: 8g

  mysql:
    image: mysql:8.0
    container_name: cs2-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${WP_DB_PASS:-weaponpaints}
      MYSQL_DATABASE: ${WP_DB_NAME:-weaponpaints}
      MYSQL_USER: ${WP_DB_USER:-weaponpaints}
      MYSQL_PASSWORD: ${WP_DB_PASS:-weaponpaints}
    volumes:
      - ./data/mysql:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      start_period: 5m
      interval: 10s
      timeout: 5s
      retries: 3

  web:
    image: ghcr.io/swirlclinic/cs2/web:latest
    container_name: cs2-web
    restart: unless-stopped
    depends_on:
      mysql:
        condition: service_healthy
    env_file: .env
    ports:
      - "${WP_WEB_PORT:-8080}:3000"
    volumes:
      - ./data/cs2/game/csgo/addons/counterstrikesharp/plugins/WeaponPaints/data:/app/wp-data:ro
